<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Calistoga' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cantora One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
    <title>Foodie || ContactUs</title>
    <link rel="icon" href="../static/images/logo.jpg" type="image/x-icon">
</head>
<body>
    <div class="header">
        <table class="logotab">
            <tr>
                <td>
                    <img src="../static/images/logo.jpg" alt="logo" id="logo">
                </td>
                <td id="brand">
                    <h1>Foodie.com</h1>
                </td>
                <td id="blank"></td>
                <td id="home">
                    <a href="/">Home</a>
                </td>
                <td id="dishes">
                    <a href="/dishes">Dishes</a>
                </td>
                <td id="contact">
                    <a href="/contact">ContactUs</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="homebg">
        <h3 id="head">Foodie.com</h3>
        <p id="para">Foodie.com is India's largest online food ordering and delivery platform,
             founded in July 2014. Foodie.com is based in Bangalore, India, and as of September 2021, 
             is operating in 500 Indian cities. 
            In early 2019, Foodie.com expanded into general product deliveries under the name Foodie.com Stores. 
            With the launch of Foodie.com, often dubbed as one of India’s fastest-growing companies, ordering food at
             the home, office, or even while throwing a party seems like a breeze.
             Foodie.com has been quite popular even in its early days,
              it witnessed an exemplary expansion and is carrying on its successful legacy till now!
        </p>
        <br><br><br><br>
        <h4 id="cont">Contact Us</h4>
        <p id="contpara">
            Foodie.com Pvt Ltd<br>
            Trivandrum , Kerala<br>
            PIN : 666-777<br>
            Email : foodie2019@gmail.com<br>
            Whattsapp : 999-888-4444<br>
            Phone : 04778 - 2347755
        </p>
        <br><br>
    </div>
    <div class="footer">
        One Thousand Flavors in One Place !<br>
        © Foodie.com 2018-25
    </div>
</body>
</html>